@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&family=Varela+Round&display=swap');


/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

:root{
    --headenfoot: #153747;
    --bannercolor: #f08348;
    --bannerfont-color: #34415e;
    --varelafont: 'Varela Round', sans-serif;
    --lexendfont: 'Lexend', sans-serif;
    --knopbackground: #7990e3;
    --knopbordercolor: #2a6e80;
    --knopfontcolor: #34415e;
    --uitlegbackground: #6dc9e2;
    --secondblockbackgorund: #df6c2d;
    --outputbackground: #f2f2f2;

}

/*DESKTOP*/
@media screen and (min-width: 1200px){
    body {
        width: 100vw;
        overflow-x: hidden;
    }

    header {
        width: 100vw;
        height: 15vh;
        display: flex;
        flex-direction: row;
        background-color: var(--headenfoot);
        justify-content: center;
        align-items: center;
        text-align: center;
    }

   #logo {
       position: absolute;
       left: 2vw;
   }


    #logo img{
        height: 13vh;
    }

    #knop-1{
        margin-left: 30vw;
      
    }
   

    #knop-1 ul li{
        position: relative;
        right: 20vw;
        float: left;
        margin-top: 1vh;
        
    }

    #knop-2 ul li {
        padding: 2vh;
    }


    nav ul {
        list-style-type: none;
    }


    nav li a{
        text-decoration: none;
        padding: 1vw 2vh;
        font-size: 1vw;
        color: white;
        font-family: var(--varelafont);
        transition: 1s;
    }

    nav li a:hover{
        background-color: #3f5f6e;
    }

    main {
        display: flex;
        flex-direction: column;
        
    }

    /*BANNER*/

    #banner {
        width: 100vw;
        height: 35vh;
        background-image: url("https://i.pinimg.com/originals/4b/c6/23/4bc623678abe998ac48de379563f977c.png");
        background-size: cover;
        position: relative;
        display: flex;

    }

    #laag {
        background-color: #df6b2d71;
        position: absolute;
        width: 100vw;
        height: 35vh;
    }



    #banner h1, p {
       
        text-align: center;
        color: black;
        font-family: var(--lexendfont);
       
    }

    #banner article {
        padding: 3vw 1vh;
        margin: 1vw 1vh;
    }

    #info {
        position: absolute;
        left: 45vw;
        bottom: 8vh;
        background-color: var(--knopbackground);
        border: 2px solid var(--knopbordercolor);
        color: var(--knopfontcolor);
        border-radius: 5%;
        padding: 5px 10px;
        text-align: center;
        display: inline-block;
        font-family: var(--lexendfont);
        cursor: pointer;
        text-decoration:none;
    }

    #info:hover {
        color:#3f5f6e;
        background-color: #788bc0;
    }

     /*BANNER EIND*/

     #menu {
        right: 5vw;
        top: 50vh;
        padding: 1vw;
        position: fixed;
    
     }

     #menu ul {
      background-color: #153747;
      padding: 0.5vw;
     
     }

     #menu li{
         text-align: center;
         padding: 1vh 2vw;
         list-style-type: none;
         border: 2px solid rgba(118, 114, 124, 0.562);
         background-color: #d6dee0;
        
         
         
     }

     #menu li a{
        text-decoration: none;
        color: black;
        font-family: var(--lexendfont);
     }

     #menu li:hover{
         background-color: #7e8283;
     }
    
/*UITLEG*/

    .lamp img {
        height: 20vh;
    }

    #blok-1 {
        margin-top: 5vh;
        padding: 5vw;
        display: flex;
        justify-content: flex-start;
    }

    .lamp img {
   
             
    }

    #uitleg {
      
        background-color: var(--uitlegbackground);
        width: 32vw;
        padding: 1vw;
        border-radius: 25px;
      
        
    }

    /*UITLEG eind*/

    footer {
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100vw;
        height: 7vh;
        background-color: var(--headenfoot);
        justify-content: flex-start;
        align-items: center;
    }

    footer p {
        color: white;
        font-size: 1vw;
        margin-left: 1vw;
        font-family: var(--varelafont);
        
    }
}


/*TABLET*/
@media screen and (min-width: 769px) and (max-width: 1200px){}


/*SMARTPHONE*/
@media screen and (min-width: 100px) and (max-width: 769px){}

